/*HEADER*/

header {
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

header nav ul li {
    margin: 0.8em;
    width: 7em;
    height: 3em;
    font-family: sans-serif;
    text-align: center;
}

header nav ul li:first-of-type {
    margin-right: auto;
}

}
header nav ul li img {
    height: 100%;
}
header section h2 {
    padding: .5em;
    font-family: sans-serif;
    /*ZOEKEN*/
}
header img {
    width: 100%;
}

/*section*/
main {
    display: flex;
    flex-direction: column;
    /max-width: 27em;
    margin: 0 auto;
}
main article {
    align-items: center;
    background-color: white;
    margin: 1em;
    padding: .5em;
}
main article p {
    font-family: open sans;
    font-size: 0.9em;
}
main article a {
    text-decoration: none;
    font-family: open sans;
    font-size: 0.9em;
}
body {
    background-color: #eaedee;
    margin: 0;
}

/*Media queries*/
@media (min-width:40em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main article {
        border-radius: 5px;
        /width: 27em;
    }

    main article h3 {
        font-family: sans-serif;
    }
}
@media (min-width:75em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
