/*HEADER*/

header {
    background-color: white;
    margin: 0;
}

header nav ul {
display: flex;
list-style: none;
margin: 0;
}

header nav ul li{
    background-color:rgb(231, 231, 231);
    margin: 0.8em;
    width: 7em;
    height: 3em;
    font-family: sans-serif;
    border-radius: 10px;
}

header nav ul li img{
    height: 100%
}


/*ZOEKEN*/

.filter {
    background-color: white;
}

.filtertitle {
    padding: .5em;
    font-family: sans-serif;
}

/*SECTION*/


section{
    display: flex;
    flex-direction: column;
    max-width: 27em;
    margin: 0 auto;
}

section article {
    align-items: center;
    background-color:white;
    margin: 1em;
    padding: .5em;
    }

section article p {
    font-family:open sans;
    font-size: 0.9em;
}

body{
    background-color:rgb(231, 231, 231);
    margin: 0;
}


/*Media queries*/
@media (min-width:50em){
    section article  {
          border-radius: 5px;
    }

    section article h3{
        color: red;
        font-family: sans-serif;
    }
}









