/*HEADER*/

header {
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    width:100%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

header nav ul li {
    margin: 0.8em;
    height: 3em;
    font-family: sans-serif;
    text-align: center;
}

header nav ul li:first-of-type {
    margin-right: auto;
}

}
header nav ul li img {
    height: 100%;
}

header img {
    width: 100%;
    opacity: 1;
}

header img.bijzonder{
opacity: 0.5;
}
    /*Schrijf je verhaal*/

header nav ul  li a{
  background-color: #ed8b00;
    padding: 1em;
    margin: 0.2em;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight:600;
}



/*Header form*/
header form {
    background-color: #eaedee;
    font-weight: bold;
    font-family:inherit;
    font-size: 1.2em;
    margin: 1.5em;
    background-color: white;

}

header form :hover{
    background-color: coral;
}

header form:focus{
    background-color: coral;
}



header > form label{
    background-color: #ed8b00;
    padding: 1em;
    box-shadow: 2px 5px #5f5f5f;
    font-family: sans-serif;
    margin: 1em auto;


}


header > form input{
    visibility:hidden;
}

/*form verhaal uploaden*/
 section form {
    /* Just to center the form on the page */
    margin: 1em auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
     background-color: white;
}
section form div + div {
    margin-top: 1em;
}

section h2{
    margin-bottom: 2em;
    margin-left: 4em;
    margin-top: 1.5em;
    font-family: sans-serif;
}


section     label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: sans-serif;
}

section input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

section input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: skyblue;
}

textarea, section input:invalid{
    border: 2px solid red;
    border-radius: 2px;
    transition: 1s;
}

 section input , textarea:valid{
    border: 2px solid green;
    border-radius: 2px;
    transition: 1s;
}

section button:hover{
    background-color: coral;
}

section textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on all browsers */
    resize: vertical;
}

.button1 {
    padding-left: 90px; /* same size as the label elements */
}
section button {
    margin-left: .5em;
    background-color: #002b45;
     padding: 1em;
    margin: 0.2em;
    color: white;

}


/*Main*/


main {
    display: flex;
    flex-direction: column;
    /max-width: 27em;
    margin: 0 auto;
}

main article {
    align-items: center;
    background-color: white;
    margin: 0.8em;
    padding: .5em;
}

h1{
    font-family: font1, sans-serif;
    font-size: 2em;
    padding:  0 0.5em ;
    color: #4d4e4c;
}

main article h1{
    font-family: sans-serif;
    font-size: 1.4em;
    padding: 0;
    color: #4d4e4c;
    animation: none;
}

main article p {
    font-family: 'fonttekst',sans-serif;
    font-size: 1em;
    font-family:sans-serif;
}



main article a {
    text-decoration: none;
    font-family: open sans;
    font-size: 0.9em;
    background-color: #002b45;
    color: white;
    padding: 0.3em;
}

main article a:focus{
    background-color: coral;
}

main article a:hover{
    background-color: coral;
}

body {
    background-color: #eaedee;
    margin: 0;
}



/*keyframe animation*/
h1 {
  animation: dance 1s ;
}
@keyframes dance {
  0% {transform: translateX(-115%);
  }

  100% {
      transform: translateX(0%);
  }
}





/*Footer*/
footer{
    background-color: #dde6ed;
}
footer p{
    color: #1b5786;
    font-family: sans-serif;
    margin-bottom: 0px;
    padding: 2rem 1rem;

}

/*Media queries*/
@media (min-width:40em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main article {
        border-radius: 5px;
    }


}
@media (min-width:75em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
